<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @record.description %>
</p>

<%= link_to 'Edit', edit_sample_path(@record) %> |
<%= link_to 'Back', samples_path %>
